* {position: relative; margin: 0; padding: 0;}
img {display: block;}
a {text-decoration: none; color: inherit;}
li, ol, ul {list-style: none;}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
button {cursor: pointer;}
::selection {
    background-color: #ffcc00;
    color: white;
}

header {
    position: fixed;
    top: 0; left: 0; z-index: 110;
    width: 100%; height: 60px;
}
.gnb {
    width: 100%; height: 100%;
    display: flex;
    gap: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.gnb_list {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.gnb_list .gnb_bg {
    display: block;
    position: absolute;
    top: 50%; left: -10%; z-index: -1;
    transform: skew(30deg) scaleX(0);
    transform-origin: left top;
    background-color: pink;
    width: 120%; height: 10px;
    transition: transform 0.5s;
}
.gnb_list:hover .gnb_bg {transform: skew(30deg) scaleX(1);}
.gnb_list.selected .gnb_bg {transform: skew(30deg) scaleX(1);}

/* 커서 */
.cursor {
    position: fixed;
    top: 50%; left: 50%; z-index: 150;
    transform: translate(60%, 30%);
    pointer-events: none;
    transition: 0.1s;
}
.cursor img {width: 25px;}
.cursor.hovered img {animation: cursorhover 1s infinite;}
@keyframes cursorhover {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}